
$color-primario: #3490dc;
$padding-base: 16px;

@mixin inputEstilo {
  padding: $padding-base;
  border: 1px solid darken($color-primario, 20%);
  border-radius: 4px;
}

.formularioContenedor {
  max-width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .formularioTitulo {
    color: $color-primario;
    text-align: center;
    font-size: x-large;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .fila {
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 8px;
        font-weight: bold;
      }

      input,
      textarea {
        @include inputEstilo();
      }

      textarea {
        resize: vertical;
      }
    }

    .botonEnviar {
      background-color: $color-primario;
      color: white;
      padding: $padding-base;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: darken($color-primario, 10%);
      }
    }
  }
}
